.deliver{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.spade{
    margin:20px;
    width: 500px;
   margin-left: 500px;

}
hr{
  width: 30%;
  margin-left: 460px;
  text-align: center;
  padding: 1px;
}
.button{
    background-color:limegreen;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width:688px) {
    .deliver{
        grid-template-columns: repeat(1, 1fr);
    }
      
}

@media only screen  and (min-width:689px) and (max-width:991px) {
    .deliver{
        grid-template-columns: repeat(2, 1fr);
    }
    
}